.popup_button {
    width: 20%;
    height: 20%;
}

.show_getitem_popup {
    right: 0;
    opacity: 1;
    left: 110%;
}

.hide_getitem_popup {
    right: 0;
    opacity: 0;
    left: 0;
}

.popup_shop {
    background-color: rgba(255, 255, 255, 0);
    width: 500px;
    height: 300px;
    transition-property: scale, opacity;
    transition-duration: 0.2s, 0.2s;
}

.popup_inactive {
    opacity: 0;
    scale: 0.3 0.3;
}
