.mid_label {
    margin-bottom: 20px;
    font-size: 40px;
    -unity-text-align: middle-center;
    color: rgba(224, 224, 224, 0.86);
    transition-duration: 0.2s;
}

.mid_label:hover {
    margin-bottom: 20px;
    font-size: 40px;
    -unity-text-align: middle-center;
    color: rgb(224, 224, 224);
}
